
html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  
}



/* Navigation Bar */

header{
  box-shadow: 1px 1px 10px rgb(134, 134, 134);
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.header-left{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  height: 60%;
  margin-left: 2em;
  padding-right:0.5em;
  border-right: 3px solid rgb(187, 187, 187);
}

.header-right-link{
  height: 100%;
  text-decoration: none;
  margin-right: 2em;
}

.header-right{
  background-color: rgb(82, 26, 160);
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.header-right:hover{
  transition: all;
  transition-duration: 150ms;
  background-color: rgb(89, 52, 191);
}

.text-book {
  font-size: 1em;
  font-weight: bolder;
  padding:0em 1.5em;
  text-transform: uppercase;
  color:white;
  text-align: center;
}

#description-headline {
  text-align: center;
  font-weight: 2000;
  font-size: 3em
}
#description {
  text-align: center;
  font-size: 1em;
  color: rgb(133, 133, 133);
}

#description-section {
  margin-left: 40px;
  margin-right: 40px;
}

#page-divider {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 250px;
}

.facts-blocks {
  text-align: center;
}

#new-row{ 
  display: grid;
  gap:5em;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 8em auto;
}


.text-imgs{
  color: rgb(133, 133, 133);
}



@media screen and (max-width: 992px) {
  #new-row{ 
    grid-template-columns: auto auto;
  }
}


@media screen and (max-width: 600px) {
  #new-row{ 
    grid-template-columns: auto;
  }
}

/* ceo */
#ceo-section{
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: auto;

}

#image-block{
  width: 100%;
  background-image: linear-gradient(to top right, #26296a , #2265d2);
}
#ceo{
  width: 100%;
  height: auto;
}

@media all and (min-width: 670px){
  .container{
    width: 100%;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
  }
}

@media all and (min-width: 900px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}



.ceo-blocks{ 
  border: 3px solid rgb(219, 20, 20);
  justify-content: center;
  display: grid;
  align-items: center;
  height: auto;
  margin-bottom: 40px;
}

.p-headings{
  padding: 1% 5%;
  color: #324481;
  font-family: 'Vidaloka';
  width: 100%;
  height: auto;
  font-weight: bold;
}

#project-role{
  color: #321066;
  font-family: 'Vidaloka';
  font-weight: bold;
  padding: 1% 4%;
}

.paragraph-texts{
  text-align: left;
  align-items: left;
  font-size: 1em;
  color: rgb(133, 133, 133);
  padding: 1% 4%;
}
#name{
  color: #324481;
  font-family: 'Vidaloka';
  font-weight: bolder;
  font-size:6ch;
  padding: 1% 3%;
}
 
#call-now-btn{
  background-color: #324481;
  color: azure;
  height: 100%;
  font-family: 'Vidaloka';
  font-weight:900;
  font-size:1.8ch;
  margin-left: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  text-decoration: none;
  height: 55px;
  width: 160px;
  margin-top: 30px;
}

.call-now-btn:hover{
  transition: all;
  transition-duration: 150ms;
  background-color: rgb(255, 255, 255);
}

#headline-ceo{
  font-size: 65px;
  font-weight: 400;
  color: rgb(237, 240, 241);
  line-height: 0.9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#new-columns-ceo{
  color: #ececec;
  font-size: 1em;
  font-weight: 500;
  line-height: 5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 17px;
}
