
html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  
}



/* Navigation Bar */

header{
  box-shadow: 1px 1px 10px rgb(134, 134, 134);
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.header-left{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  height: 60%;
  margin-left: 2em;
  padding-right:0.5em;
  border-right: 3px solid rgb(187, 187, 187);
}

.header-right-link{
  height: 100%;
  text-decoration: none;
  margin-right: 2em;
}

.header-right{
  background-color: rgb(65, 19, 130);
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.header-right:hover{
  transition: all;
  transition-duration: 150ms;
  background-color: rgb(73, 59, 182);
}

.text-book {
  font-size: 1em;
  font-weight: bolder;
  padding:0em 1.5em;
  text-transform: uppercase;
  color:white;
  text-align: center;
}

#description-headline {
  text-align: center;
  font-weight: 5000;
  font-size: 3em
}
#description {
  text-align: center;
  font-size: 1em;
  color: rgb(133, 133, 133);
  max-width: 900px;
  margin: auto;
}

#description-section {
  margin-left: 40px;
  margin-right: 40px;
}

#page-divider {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 250px;
}

.facts-blocks {
  text-align: left;
}

#new-row{ 
  display: grid;
  gap:5em;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3.5em auto;
}


.text-imgs{
  color: rgb(133, 133, 133);
}



@media screen and (max-width: 992px) {
  #new-row{ 
    grid-template-columns: auto auto;
  }
}


@media screen and (max-width: 600px) {
  #new-row{ 
    grid-template-columns: auto;
  }
}



/* ceo section */

.ceo-section{
  display: flex;
  width: 100%;
  background-color: red;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  
}

.bio-block{
  border-radius: 1em;
  max-width: 20em;
  display: flex;
  color:white;
  flex-direction: column;
  background: linear-gradient(50deg, rgb(46, 0, 94) 0%, rgb(90, 1, 234) 100%); 
}

.bio-block-headline{
  padding: 0em 1em;
  margin-bottom: 1em;
  font-weight: bolder;
  font-size: 3em;
}

.bio-block-text{
  padding: 1em 2.5em;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  margin: 0em 1em;
}

.bio-block-text div{
  margin: 0em 1em;
}

.bio-block img {
  border-radius: 1em 1em 0em 0em;
}

.ceo-blocks{ 
  border: 3px solid rgb(219, 20, 20);
  justify-content: center;
  display: grid;
  align-items: center;
  height: auto;
  margin-bottom: 40px;
}

.text-block{
  width: 50%;
  height: 100%;
  display: flex;
  color:white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
} 


.dropdowns-component{
  display: flex;
  flex-direction: column;
}

.dropdown-text{
  display: none;
}

.dr-show{
  display: block;
  color: wheat;
}

#call-now-btn{
  background-color: #324481;
  color: azure;
  height: 100%;
  font-family: 'Vidaloka';
  font-weight:900;
  font-size:1.8ch;
  margin-left: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  text-decoration: none;
  height: 55px;
  width: 160px;
  margin-top: 30px;
}

#call-now-btn:hover{
  transition: all;
  transition-duration: 150ms;
  background-color: rgb(255, 255, 255);
  color: black;
}

.icon-fact{
  width: 3em;
  padding: 1em auto;
  color:#324481;
  margin: 1em 0px;
}

