html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Vidaloka'
    
    
  }
  
  
  
  /* Navigation Bar */
  
  header{
    box-shadow: 1px 1px 10px rgb(134, 134, 134);
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat'
  }
  
  
  .header-left{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
  }
  
  .logo{
    height: 60%;
    margin-left: 2em;
    padding-right:0.5em;
    border-right: 3px solid rgb(187, 187, 187);
  }
  
  .header-right-link{
    height: 100%;
    text-decoration: none;
    margin-right: 2em;
  }
  
  .header-right{
    background-color: rgb(65, 19, 130);
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  .header-right:hover{
    transition: all;
    transition-duration: 150ms;
    background-color: rgb(73, 59, 182);
  }

  .text-book {
    font-size: 1em;
    font-weight: bolder;
    padding:0em 1.5em;
    text-transform: uppercase;
    color:white;
    text-align: center;
  }


  #upper-page{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("https://images.unsplash.com/photo-1669808404829-015ec1ce3625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    height: 600px;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Vidaloka'
  }

  #headline{
    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
  }

  #subtitle{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
  }

  #number-link{
    color: #ffffff;
    font-size: 27px;
    text-align: center;
    text-decoration: none;
  }

  .about-us-btn{
    transition: all;
    transition-duration: 350ms;
    cursor: pointer;
    background-color: transparent;
    color: azure;
    height: 100%;
    font-weight:600;
    border: 3px solid rgb(255, 255, 255);
    font-size:1.8ch;
    padding: 0.8em 1.5em;
    text-align: center;   
    text-decoration: none;

  }

  
  .about-us-btn:hover{
    transition: all;
    transition-duration: 350ms;
    padding: 0.7em 1.4em;
    background-color: rgb(255, 255, 255);
    color: black;
  }


  @media all and (min-width: 670px){
    #headline{
      font-size:3em;
    }
  }
  
  @media all and (min-width: 900px){
    #headline{
      font-size:4em;
    }
  }

  .call-btn{
    transition: all;
    transition-duration: 350ms;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    height: 100%;
    font-weight:350;
    border: 3px solid rgb(0, 0, 0);
    font-size:1.4ch;
    padding: 1em 1em;
    text-align: center;   
    text-decoration: none;

  }

  .call-btn:hover{
    transition: all;
    transition-duration: 350ms;
    padding: 0.9em 0.9em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }



/* Grid Text Box */


.first-grid , .second-grid{
  display: grid;
  grid-template-columns: 50% auto;

}

.title{
  max-width: 100%;
  margin: auto;
  text-align: center;
}


.text-box{
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5em;
}

.text-rentals{
  list-style-type: "━ ";
  color:#000000;
}


.headline-rentals{
  line-height: 1em;
}

@media screen and (max-width: 992px) {
  .title{
    margin-bottom: 1em;
  }
}


.descr-btn{
  transition: all;
  transition-duration: 350ms;
  cursor: pointer;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight:350;
  border: 3px solid rgb(0, 0, 0);
  font-size:1.4ch;
  padding: 1em 1em;
  text-align: center;   
  text-decoration: none;
  margin: 2em auto;

}

.descr-btn:hover{
  transition: all;
  transition-duration: 350ms;
  padding: 0.9em 0.9em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}




@media screen and (max-width: 992px) {
  .first-grid , .second-grid{
    display: grid;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  .first-grid , .second-grid{ 
    height: 100%;
  }
}


.contact-us-block{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("https://images.unsplash.com/photo-1669808404829-015ec1ce3625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    height: 600px;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
  .contact-us-block{ 
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact-us-block{ 
    height: 100%;
  }
}


.e-mail-link{
  margin-bottom: 2em;
}
.info {
  background-color:#ffffff;
  max-width:60%;
  max-height: 65%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5em;
  line-height: 1.5em;
  /* box-shadow: 0 0 0.3rem rgb(0, 0, 0); */
  filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0));
}

.call-us-btn{
  transition: all;
  transition-duration: 350ms;
  cursor: pointer;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: 550;
  border: 3px solid rgb(0, 0, 0);
  font-size:2ch;
  padding: 0.5em 1em;
  text-align: center;   
  text-decoration: none;
  margin-top: 1em;
}

.call-us-btn:hover{
  transition: all;
  transition-duration: 350ms;
  padding: 0.4em 0.9em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 992px) {
  .call-us-btn{
    font-size:1.7ch;
  }
}

@media screen and (max-width: 600px) {
  .call-us-btn{ 
    font-size:1.5ch;
  }
}


.contact-link, #adress{
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
  
}

.contact-link:hover{
  text-decoration: none;
  color: #0e0e46;
  
}

.contact-headline{
  line-height: 1.2em;
  font-size: 3em;
}

.block-headline{
  color: whitesmoke;
  font-size: 6ch;
  margin-bottom: 1em;
}

.contact-us-block{
  padding: 2em 2em ;
}


@media screen and (max-width: 1100px) {
  .info{ 
    width: 90%;
    max-width: 100%;
  }

    
  .contact-link, #adress{
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    
  }

  .contact-headline{
    line-height: 1em;
    font-size: 2.2em;
  }
}

@media screen and (max-width: 600px) {
  .info{ 
    height: 100%;
  }

  
  .contact-headline{
    line-height: 1.25em;
    font-size: 2em;
  }
      
  .contact-link, #adress{
    text-decoration: none;
    color: #000000;
    font-size: 0.9em;
    
  }
}
